h1
{
    text-align: center;
    color: #006600 ;
}
h2
{
    color:#0000FF  ;
}
.a
{
    text-align: center;
    color: #FF3399;
    background-color: #FECFFD ;
}
.lop
{
    text-align: center;
    background-color:#FFFFCC  ;
}
hr
{
    width: 150px;
}
